@charset "UTF-8";

html {
    /* height: 100%; */
}

body {
    min-height: 800px;
    background: #0066C4;

    background: linear-gradient(to bottom, #0066C4 0%, #e7db49 100%);
}



p {
    color: #fff;
    font-size: 16px;
    line-height: 200%;
}


a {
    color: #fff;
}

header {
    /* display: flex; */
    margin-top: 100px;
    margin-bottom: 32px;
}

.header_log {
    text-align: center;
}

.header_log img {
    height: 40px;
}

header p {
    font-size: 28px;
    text-align: center;
}

section {
    display: block;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 32px 0;
    margin-bottom: 96px;
    border-radius: 10px;
}

h2 {
    color: #fff;
    font-size: 20px;
}

form {
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}


ul {
    display: block;
    justify-content: space-between;
    padding: 24px;
    text-align: left;
}

li {
    margin-bottom: 16px;
}

label {
    color: #fff;
}

input {
    width: 100%;
    height: 36px;
}

.btn {
    width: 50%;
    display: block;
    background: #ED3A50;
    color: #fff;
    border: none;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;

}

.submit {

    width: 50%;
    display: block;
    background: #ED3A50;
    color: #fff;
    border: none;
    margin-left: auto;

}

.welcome {
    font-weight: bold;
    margin-bottom: 30px;
}

.alert {
    width: 600px;
    color: #ED3833;
    margin: 20px auto;
    list-style: none;
    background-color: #F9DBDC;

}

.alert li {
    line-height: 1.5rem;
    margin: 0 auto;
    padding-top: 5px;
    width: 500px;
    ;
}

/* 新規登録 */
